._button {
  background: linear-gradient(180deg, #8B1CFB 0%, #B02CDF 100%);
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  color: #fff;
  display: flex;
  text-align: center;
}